@model PolovniAutomobiliMVC.ViewModels.CarListViewModel

<h1>@Model.CurrentCategory</h1>
<div class="row">
    @foreach (var car in Model.Cars)
    {
        <partial name="_CarCard" model="car" />
    }
</div>